*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.Container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
    font-family: sans-serif;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom:20px ;
}
.todo-app img{
margin-left: 10px;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
    border-radius: 30px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}
button{
    padding: 16px 50px;
    border-radius: 40px;
    background: #ff5945;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    height: 28px;
    width: 28px;
    position: absolute;
    background-image:url(check.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
    border-radius: 50%;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image:url(click.png);
    
}
ul li span{
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    font-size: 25px;
    cursor: pointer;   
    border-radius: 50%;
}
ul li span:hover{
    background-color: #55555530;
}